// Primary colours
$red: #DC2A2A;
$yellow: #FFC72C;
$blueRoche: #0066CC;
$blueDark: #073A6D;
$greyLight: #F2F2F2;
$greyDark: #333333;
$black: #000000;
$white: #ffffff;

// Secondary colours
$green: #00AA55;
$pink: #E73C70;
$orange: #F0831A;
$blueBright: #44C7F4;